@import url('$lib/fonts/Poppins/font.css') layer(base);

@import 'tailwindcss';

@theme inline {
    --font-poppins: poppins, sans-serif;
    --color-fims-green: #02461c;
    --color-fims-red: #761519;
    --color-fims-beige: #ede7ce;
    --color-fims-white: #f9f9f9;
    --color-fims-gray: #b6b6b6;
}
